/* ----------- CSS Reset ----------- */

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ----------- Custom CSS ----------- */
body {
	font-family: 'JetBrains Mono', monospace;
	background: linear-gradient( rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.342) ), url('img/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container-main {
	background: rgba(42, 47, 53, 0.212);
	border-radius: 50px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.9px);
	-webkit-backdrop-filter: blur(11.9px);
	border: 1px solid rgba(40, 75, 121, 0.26);
	width: 350px;
	height: 650px;;
}

#container-display {
	height: 30%;
	display: flex;
	padding: .5rem;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	color: rgb(255, 255, 255);
	padding-top: 4rem;
}

#display-operation {
	min-height: 2rem;
	line-height: 2rem;
	letter-spacing: -0.05rem;
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0rem .4rem;
}

#display-number {
	min-height: 4rem;
	line-height: 3rem;
	letter-spacing: -0.2rem;
	font-size: 3.5rem;
	margin: 0rem .2rem;
	font-weight: 800;
}

#container-buttons {
	height: 70%;
	display: grid;
	padding: .5rem;
	gap: .4rem;
	grid-template-columns: repeat(4, 1fr)
}

button {
	font-family: 'JetBrains Mono', monospace;
	font-weight: 800;
	font-size: 1.5rem;
	color: white;
	border-radius: 60px;
	height: 75px;
	width: 75px;
	border: 0;
	background-color: rgba(212, 212, 212, 0.295);
}

.color-1 {
	background-color: rgba(0, 195, 255, 0.418);
}

.highlight {
	font-size: 1.7rem;
}

.equals{
	color:rgba(17, 17, 17, 0.836);
	background-color: rgba(255, 255, 255, 0.808);
}

#clear-all {
	background-color:rgba(0, 255, 221, 0.459) ;
	color: rgb(53, 53, 53);
}

.highlight:focus {
	background-color: gray;
}

footer {
	font-family:'Courier New', Courier, monospace;
	font-size: .7rem;
	color: white;
	position: fixed; 
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	gap: .3rem;
	padding: .3rem;
}

#git {
	width: 1.4rem;
}